{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mx-auto mt-10 px-4 max-w-lg">
    <h2 class="text-center text-2xl font-semibold mb-6">{% trans "Change Password" %}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center mt-4">
            <button type="submit" class="btn-primary-custom py-2 px-6">
              {% trans "Change Password" %}
            </button>
        </div>
    </form>
</div>
{% endblock %}
